In [1]:
import pandas as pd

In [2]:
import numpy as np

In [19]:
wt = pd.read_csv('weather_temp.csv')

In [20]:
wt

     Outlook  Temperature  Humidity Wind Play
0      Rainy         27.0       NaN  NaN   No
1      Rainy         37.0      90.0  Yes   No
2   Overcast         40.0      86.0   No  Yes
3      Sunny         25.0      96.0   No  Yes
4      Sunny         17.0      80.0   No  Yes
5      Sunny         18.0      70.0  Yes   No
6   Overcast         18.0      65.0  Yes  Yes
7      Rainy         23.0      95.0   No   No
8      Rainy         18.0       NaN   No  Yes
9      Sunny         24.0      80.0   No  Yes
10     Rainy         26.0      70.0  Yes  Yes
11  Overcast         25.0      90.0  Yes  Yes
12  Overcast         36.0      75.0   No  Yes
13     Sunny         26.0      91.0  Yes   No
14     Rainy          NaN      70.0  Yes  Yes

# Count and handle NULL values. Give reason for each.

In [58]:
wt.isna().sum()

Outlook        0
Temperature    0
Humidity       2
Wind           1
Play           0
dtype: int64

In [59]:
wt['Temperature']=wt['Temperature'].fillna(wt['Temperature'].mean())

In [ ]:
wt['Humidity']=wt['Humidity'].fillna(wt['Humidity'].median())

In [61]:
wt['Wind']=wt['Wind'].fillna(wt['Wind'].mode())

# Compute mean, mode, median and standard deviation of the variables.

the mean is calculated of temperature and humidity because all other are strings.

In [29]:
wt.mean()

Temperature    25.714286
Humidity       81.384615
dtype: float64

the mode tells us about the most occuring value
so mode temperature is 18 indicating that 18 is most occuring temperature in the recorded data

In [40]:
wt.mode()

  Outlook  Temperature  Humidity Wind Play
0   Rainy         18.0      70.0   No  Yes
1     NaN          NaN       NaN  Yes  NaN

the median is the value separating the higher half from the lower half of a data sample

In [39]:
wt.median()

Temperature    25.0
Humidity       80.0
dtype: float64

In [62]:
wt.std()

Temperature     7.095558
Humidity       10.657849
dtype: float64

# Compute covariance and correlation between temperature and humidity. Comment. Standardise the variables and compute covariance and correlation again. Comment.

Covariance is a measure to indicate the extent to 
which two random variables change with change in the other one.
Thus 24.1818... which is a positive value represents that there is a 
positive relation between Temperature and Humidity.
Thus an increase in Temperature will have an increase in Humidity.

In [54]:
wt['Temperature'].cov(wt['Humidity'])

24.181818181818183

Correlation is a measure used to represent how strongly 
two random variables are related to each other.
Thus a value of +1 represents a strong direct relationship in Temperature and Humidity
(meaning an increase in Temperature would also increase Humidity)
where as 0 would represent that there is no linear relation between the two
and -1 would imply that an inverse relationship.
Here 0.300 represents a feeble direct relationship.

In [67]:
wt['Temperature'].corr(wt['Humidity'])

0.2912071151997505

DataFramed values for better representation

In [66]:
wt.cov()

             Temperature    Humidity
Temperature    50.346939   22.674908
Humidity       22.674908  113.589744

In [65]:
wt.corr()

             Temperature  Humidity
Temperature     1.000000  0.291207
Humidity        0.291207  1.000000

# Build contingency table for count of outlook and wind conditions on play

In [56]:
pd.crosstab([wt.Outlook,wt.Wind],wt.Play,margins=True,margins_name='Count')

Play           No  Yes  Count
Outlook  Wind
Overcast No     0    2      2
         Yes    0    2      2
Rainy    No     1    1      2
         Yes    1    2      3
Sunny    No     0    3      3
         Yes    2    0      2
Count           4   10     14