In [1]:
import pandas as pd

In [2]:
#Series

In [3]:
marks=[11,12,13]

In [4]:
type(marks)

list

In [5]:
sub=['p','c','m']

In [6]:
type(sub)

list

In [7]:
mrks=pd.Series(marks)

In [8]:
type(mrks)

pandas.core.series.Series

In [9]:
mrks[0]

11

In [10]:
mrks[1]

12

In [11]:
mrks[2]

13

In [12]:
mrks=pd.Series(marks,sub)

In [13]:
mrks[0]

11

In [14]:
mrks

p    11
c    12
m    13
dtype: int64

In [15]:
mrks['p']

11

In [16]:
mrks.describe()

count     3.0
mean     12.0
std       1.0
min      11.0
25%      11.5
50%      12.0
75%      12.5
max      13.0
dtype: float64

In [17]:
import numpy as np

In [18]:
nmarks=np.array(marks)

In [19]:
nmarks

array([11, 12, 13])

In [20]:
type(nmarks)

numpy.ndarray

In [21]:
pd.Series(nmarks)

0    11
1    12
2    13
dtype: int32

In [22]:
mrks1=pd.Series(nmarks,sub)

In [23]:
mrks1['p']

11

In [24]:
d={'p':11,'c':12,'m':13}

In [25]:
d

{'p': 11, 'c': 12, 'm': 13}

In [26]:
d['p']

11

In [27]:
mrks2=pd.Series(d)

In [28]:
mrks.index

Index(['p', 'c', 'm'], dtype='object')

In [29]:
#Dataframe

In [30]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [31]:
'bk@gmail.com'.split('@')

['bk', 'gmail.com']

In [32]:
list('WXYZ')

['W', 'X', 'Y', 'Z']

In [33]:
np.random.seed(13)
np.random.randn(5,4)

array([[-0.71239066,  0.75376638, -0.04450308,  0.45181234],
       [ 1.34510171,  0.53233789,  1.3501879 ,  0.86121137],
       [ 1.47868574, -1.04537713, -0.78898902, -1.26160595],
       [ 0.56284679, -0.24332625,  0.9137407 ,  0.31735092],
       [ 0.12730328,  2.15038297,  0.60628866, -0.02677165]])

In [34]:
np.random.seed(13)
df=pd.DataFrame(np.random.randn(5,4))

In [35]:
df

          0         1         2         3
0 -0.712391  0.753766 -0.044503  0.451812
1  1.345102  0.532338  1.350188  0.861211
2  1.478686 -1.045377 -0.788989 -1.261606
3  0.562847 -0.243326  0.913741  0.317351
4  0.127303  2.150383  0.606289 -0.026772

In [36]:
type(df)

pandas.core.frame.DataFrame

In [37]:
np.random.seed(13)
df=pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns=list('WXYZ'))

In [38]:
df

          W         X         Y         Z
A -0.712391  0.753766 -0.044503  0.451812
B  1.345102  0.532338  1.350188  0.861211
C  1.478686 -1.045377 -0.788989 -1.261606
D  0.562847 -0.243326  0.913741  0.317351
E  0.127303  2.150383  0.606289 -0.026772

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [40]:
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.560309  0.429557  0.407345  0.068399
std    0.903684  1.194270  0.839695  0.808626
min   -0.712391 -1.045377 -0.788989 -1.261606
25%    0.127303 -0.243326 -0.044503 -0.026772
50%    0.562847  0.532338  0.606289  0.317351
75%    1.345102  0.753766  0.913741  0.451812
max    1.478686  2.150383  1.350188  0.861211

In [41]:
df.head(3)

          W         X         Y         Z
A -0.712391  0.753766 -0.044503  0.451812
B  1.345102  0.532338  1.350188  0.861211
C  1.478686 -1.045377 -0.788989 -1.261606

In [42]:
df.tail(2)

          W         X         Y         Z
D  0.562847 -0.243326  0.913741  0.317351
E  0.127303  2.150383  0.606289 -0.026772

In [43]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [44]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [45]:
df

          W         X         Y         Z
A -0.712391  0.753766 -0.044503  0.451812
B  1.345102  0.532338  1.350188  0.861211
C  1.478686 -1.045377 -0.788989 -1.261606
D  0.562847 -0.243326  0.913741  0.317351
E  0.127303  2.150383  0.606289 -0.026772

In [46]:
df['W']

A   -0.712391
B    1.345102
C    1.478686
D    0.562847
E    0.127303
Name: W, dtype: float64

In [47]:
df[0]

KeyError: 0

In [48]:
df[['W','X']]

          W         X
A -0.712391  0.753766
B  1.345102  0.532338
C  1.478686 -1.045377
D  0.562847 -0.243326
E  0.127303  2.150383

In [50]:
df['N']=df['W']+df['X']

In [51]:
df

          W         X         Y         Z         N
A -0.712391  0.753766 -0.044503  0.451812  0.041376
B  1.345102  0.532338  1.350188  0.861211  1.877440
C  1.478686 -1.045377 -0.788989 -1.261606  0.433309
D  0.562847 -0.243326  0.913741  0.317351  0.319521
E  0.127303  2.150383  0.606289 -0.026772  2.277686

In [52]:
df.drop('N',axis=1)

          W         X         Y         Z
A -0.712391  0.753766 -0.044503  0.451812
B  1.345102  0.532338  1.350188  0.861211
C  1.478686 -1.045377 -0.788989 -1.261606
D  0.562847 -0.243326  0.913741  0.317351
E  0.127303  2.150383  0.606289 -0.026772

In [53]:
df

          W         X         Y         Z         N
A -0.712391  0.753766 -0.044503  0.451812  0.041376
B  1.345102  0.532338  1.350188  0.861211  1.877440
C  1.478686 -1.045377 -0.788989 -1.261606  0.433309
D  0.562847 -0.243326  0.913741  0.317351  0.319521
E  0.127303  2.150383  0.606289 -0.026772  2.277686

In [54]:
df.drop('N',axis=1,inplace=True)

In [55]:
df

          W         X         Y         Z
A -0.712391  0.753766 -0.044503  0.451812
B  1.345102  0.532338  1.350188  0.861211
C  1.478686 -1.045377 -0.788989 -1.261606
D  0.562847 -0.243326  0.913741  0.317351
E  0.127303  2.150383  0.606289 -0.026772