In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv('train.csv')

In [3]:
ds

,PassengerId,Survived,Pclass,Name,Sex,Age,Sib/Sp,Par/Ch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Calculate the percentage of male and female survivors.

In [4]:
ds1 = ds[ds['Sex']=='female']['Survived'].value_counts()

In [5]:
d1 = (ds1[1])/(ds1.sum())*100
#Percentage

In [6]:
ds1 = ds[ds['Sex']=='male']['Survived'].value_counts()

In [7]:
d2 = (ds1[1])/(ds1.sum())*100
#Percentage

In [8]:
pd.DataFrame([d1,d2],index = ['Female','Male'],columns=['Survival %'])

        Survival %
Female   74.203822
Male     18.890815

# Rate of survival of people in the age range 0-25,26-50,51-75,>75.

In [9]:
ds6 = ds[(ds['Age']>0) & (ds['Age']<=25)]['Survived'].value_counts()

In [10]:
d1 = (ds6[1])/(ds6.sum())*100
#Percentage

In [11]:
ds6 = ds[(ds['Age']>25) & (ds['Age']<=50)]['Survived'].value_counts()

In [12]:
d2 = (ds6[1])/(ds6.sum())*100
#Percentage

In [13]:
ds6 = ds[(ds['Age']>50) & (ds['Age']<=75)]['Survived'].value_counts()

In [14]:
d3 = (ds6[1])/(ds6.sum())*100
#Percentage

In [15]:
ds6 = ds[(ds['Age']>75)]['Survived'].value_counts()

In [16]:
d4 = (ds6[1])/(ds6.sum())*100
#Percentage

In [17]:
pd.DataFrame([d1,d2,d3,d4],index = ['0-25','26-50','51-75','Above 75'],columns=['Survival %'])

          Survival %
0-25       41.196013
26-50      41.260745
51-75      33.333333
Above 75  100.000000

# Rate of Survival based on Passenger Class

In [18]:
ds6 = ds[(ds['Pclass']==1)]['Survived'].value_counts()

In [19]:
d1 = (ds6[1])/(ds6.sum())*100
#Percentage

In [20]:
ds6 = ds[(ds['Pclass']==2)]['Survived'].value_counts()

In [21]:
d2 = (ds6[1])/(ds6.sum())*100
#Percentage

In [22]:
ds6 = ds[(ds['Pclass']==3)]['Survived'].value_counts()

In [23]:
d3 = (ds6[1])/(ds6.sum())*100
#Percentage

In [24]:
pd.DataFrame([d1,d2,d3],index = ['PClass: 1','PClass: 2','PClass: 3'],columns=['Survival %'])

           Survival %
PClass: 1   62.962963
PClass: 2   47.282609
PClass: 3   24.236253

# Rate of Survival based on Embarking Location where C = Cherbourg, Q = Queenstown, S = Southampton

In [25]:
ds6 = ds[(ds['Embarked']=='C')]['Survived'].value_counts()

In [26]:
d1 = (ds6[1])/(ds6.sum())*100
#Percentage

In [27]:
ds6 = ds[(ds['Embarked']=='Q')]['Survived'].value_counts()

In [28]:
d2 = (ds6[1])/(ds6.sum())*100
#Percentage

In [29]:
ds6 = ds[(ds['Embarked']=='S')]['Survived'].value_counts()

In [30]:
d3 = (ds6[1])/(ds6.sum())*100
#Percentage

In [31]:
pd.DataFrame([d1,d2,d3],index = ['Embarked from Cherbourg','Embarked from Queenstown','Embarked from Southampton'],columns=['Survival %'])

                           Survival %
Embarked from Cherbourg     55.357143
Embarked from Queenstown    38.961039
Embarked from Southampton   33.695652

# Survival Rate of people who were travelling alone

In [32]:
ds1 = ds[(ds['Sib/Sp']==0) & (ds['Par/Ch']==0)]['Survived'].value_counts()

In [33]:
d1 = (ds1[1])/(ds1.sum())*100
#Percentage

In [34]:
d2 = 100-d1

In [35]:
pd.DataFrame([d1,d2],index = ['Survived','Did not Survive'],columns=['%'])

                         %
Survived         30.353818
Did not Survive  69.646182

# Survival Rate of people who were travelling alone vs who weren't travelling alone

In [36]:
ds1 = ds[(ds['Sib/Sp']>0) | (ds['Par/Ch']>0)]['Survived'].value_counts()

In [37]:
d2 = (ds1[1])/(ds1.sum())*100
#Percentage

In [38]:
pd.DataFrame([d1,d2],index = ['Travelling Alone','Travelling with someone'],columns=['Survival %'])

                         Survival %
Travelling Alone          30.353818
Travelling with someone   50.564972

# Rate of survival of parents travelling with their child and vice versa.

In [39]:
ds3 = ds[ds['Par/Ch']>0]['Survived'].value_counts()

In [40]:
(ds3[1])/(ds3.sum())*100
#Percentage

51.173708920187785

# Rate of Survival of people travelling with their spouse or sibling

In [41]:
ds3 = ds[ds['Sib/Sp']>0]['Survived'].value_counts()

In [42]:
(ds3[1])/(ds3.sum())*100
#Percentage

46.64310954063604

# Rate of Survival of boys compared to girls

In [43]:
ds7 = ds[(ds['Sex']=='male') & (ds['Age']<=18)]['Survived'].value_counts()

In [44]:
d1 = (ds7[1])/(ds7.sum())*100
#Percentage

In [45]:
ds7 = ds[(ds['Sex']=='female') & (ds['Age']<=18)]['Survived'].value_counts()

In [46]:
d2 = (ds7[1])/(ds7.sum())*100
#Percentage

In [47]:
pd.DataFrame([d1,d2],index = ['Boys','Girls'],columns=['Survival %'])

       Survival %
Boys    33.802817
Girls   67.647059

# Rate of Survival of men compared to women

In [48]:
ds7 = ds[(ds['Sex']=='male') & (ds['Age']>18)]['Survived'].value_counts()

In [49]:
d1 = (ds7[1])/(ds7.sum())*100
#Percentage

In [50]:
ds7 = ds[(ds['Sex']=='female') & (ds['Age']>18)]['Survived'].value_counts()

In [51]:
d2 = (ds7[1])/(ds7.sum())*100
#Percentage

In [52]:
pd.DataFrame([d1,d2],index = ['Men','Women'],columns=['Survival %'])

       Survival %
Men     18.062827
Women   78.238342

# Percentage of Survivors

In [53]:
ds1 = ds['Survived'].value_counts()

In [54]:
(ds1[1])/(ds1.sum())*100
#Percentage

38.38383838383838