In [1]:
2+2

4

In [2]:
2-2

0

In [3]:
4/5

0.8

In [4]:
6*2

12

In [5]:
6**2

36

In [6]:
14/5

2.8

In [7]:
14//5

2

In [8]:
age=18

In [9]:
name='baljeet'

In [10]:
salary=1200.50

In [11]:
type(age)

int

In [12]:
type(name)

str

In [13]:
type(salary)

float

In [14]:
True

True

In [15]:
False

False

In [16]:
2>=1

True

In [17]:
2>1

True

In [18]:
2>2

False

In [19]:
3<=2

False

In [20]:
3==2

False

In [21]:
3==(8-6)

False

In [22]:
3==(8-5)

True

In [23]:
1>=2 and 4>=2

False

In [24]:
2>=1 and 3==3

True

In [25]:
1>=2 or 4>=2

True

In [26]:
1>2 or 4>5

False

In [27]:
age=12
if age>=18:
    print("You can vote")
else:
    print("Too young!")

Too young!

In [28]:
age=17
if age>=18:
    print("You can vote")
elif age==17:
    print("wait for a year")
else:
    print("Too young!")

wait for a year

In [29]:
#loop
n=1
while n<=10:
    print(n)
    n=n+2

1
3
5
7
9

In [30]:
list(range(5))

[0, 1, 2, 3, 4]

In [31]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list1=[10,20,30,40]

In [33]:
list1.append(50)

In [34]:
list1

[10, 20, 30, 40, 50]

In [35]:
list1.reverse()   #tab    #shift-tab

In [36]:
list1

[50, 40, 30, 20, 10]

In [37]:
#For loops
list1

[50, 40, 30, 20, 10]

In [38]:
5 in list1

False

In [39]:
10 in list1

True

In [40]:
for i in list1:
    print(i)

50
40
30
20
10

In [41]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [42]:
list1

[50, 40, 30, 20, 10]

In [43]:
list1[0]

50

In [44]:
list1[2]

30

In [45]:
list1[4]

10

In [46]:
list1[-1]

10

In [47]:
num=17
i=2
flag=0
while i <= num/2 and flag==0:
    print("i is ",i)
    if num%i==0:
        flag=1
    i=i+1
if flag==0:
    print("Prime")
else:
    print("Composite")

i is  2
i is  3
i is  4
i is  5
i is  6
i is  7
i is  8
Prime

In [48]:
#list comprehension

In [49]:
list2=[i*3 for i in range(1,6)]

In [50]:
list2

[3, 6, 9, 12, 15]

In [51]:
list3=[]
for i in range(1,6):
    list3.append(i*3)

In [52]:
list3

[3, 6, 9, 12, 15]

In [53]:
#functions

In [54]:
def add2(a):
    sum=a+2
    return sum

In [55]:
add2(12)

14

In [56]:
add2(19)

21

In [57]:
list3

[3, 6, 9, 12, 15]

In [58]:
for i in range(0,5):
    list3[i]=list3[i]+2
list3

[5, 8, 11, 14, 17]

In [59]:
for i in list3:
    i=i+2
list3

[5, 8, 11, 14, 17]

In [60]:
list3

[5, 8, 11, 14, 17]

In [61]:
list(map(add2,list3))

[7, 10, 13, 16, 19]

In [62]:
#lambda

In [63]:
lambda num:num+2

In [64]:
map(add2,list3)

In [65]:
list4=list(map(lambda n:n+2,list3))

In [66]:
list3

[5, 8, 11, 14, 17]

In [67]:
list4

[7, 10, 13, 16, 19]

In [68]:
list(filter(lambda n:n%2,list4))

[7, 13, 19]

In [70]:
list(map(lambda n:n%2,list4))

[1, 0, 1, 0, 1]